
#map {
  height: 100vh;
  width: 35%;
  min-width: 400px;
}

.container {
  display: flex;
}

aside {
  background: #fff;
  padding: 20px;
  width: 65%;
  height: 100vh;
  overflow-y: scroll;
}

aside h1 {
  font-size: 30px;
}
